{% block lle_hermes_mjml_widget %}

    <link rel="stylesheet" href="{{ asset('bundles/llehermes/style.css') }}">
    <script src="{{ asset('bundles/llehermes/app.js') }}"></script>

    <div class="lle_mjml_editor">

        <mjml>
            <mj-body>
                <mj-section>
                    <mj-column>
                        <mj-text>My Company</mj-text>
                    </mj-column>
                </mj-section>
            </mj-body>
        </mjml>
    </div>
{% endblock %}
