{% block lle_hermes_mjml_widget %}

    <link rel="stylesheet" href="{{ asset('bundles/llehermes/style.css') }}">
    <script src="{{ asset('bundles/llehermes/app.js') }}"></script>

    <div class="lle_mjml_editor">
        <mjml>
            <mj-body>
                {% if value %}
                    {{ value }}
                {% else %}
                    {# empty canvas does not work with Firefox, so make sure there is at least one element #}
                    <mj-column></mj-column>
                {% endif %}
            </mj-body>
        </mjml>
    </div>
{% endblock %}
