{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-5 text-center">
        <p class="h5">
            {{ 'text.unsubscribtionConfirmed'|trans({}, 'LleHermesBundle') }}
        </p>
    </div>
{% endblock %}
