<span
    class="badge {% if position is defined %}float-{{ position }}{% endif %} {% if status == 'error' or status == 'cancelled' %}bg-danger{% else %}bg-primary{% endif %}">
    {{ ('status.' ~ status)|trans({}, 'LleHermesBundle') }}
</span>
