{% if value %}
    {% if resource.attachmentDeleted %}
        {% for attachement in value %}
            <p>
                {{ attachement["name"] }} (deleted)
            </p> <br>
        {% endfor %}
    {% else %}
        {% for attachement in value %}
            <a
                href="{{ path('lle_hermes_crudit_mail_show_attachement', {'id': view.resource.id, 'file': attachement["name"]}) }}"
                target="_blank"
            >
                {{ attachement["name"] }}
            </a> <br>
        {% endfor %}
    {% endif %}
{% endif %}
